/* font */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Open+Sans&display=swap");
/* Declare font:
font-family: "Open Sans", sans-serif; 
font-family: "Montserrat", sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}
body {
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
}

nav {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 6rem;
  background-color: #f5f8fa;
}
.cds-page-width-normal {
  width: 70rem;
  margin: 0 auto;
}
