body {
    display: flex;
    background-color: #f5f8fa;
    width: 100%;
    height: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* Start-Section3-Mors */
.ContainerSection3 {
    display: flex;
    width: 70%;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: #f5f8fa;
   
}
.S3-Container1 {
    display: flex;
    width: 60%;
    height: 400px;
    margin-top: 20px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    background-color:#f5f8fa;
}
.S3-Container2 {
    display: flex;
    width: 80%;
    height: 300px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
.S3-Container3{
    display: flex;
    width: 80%;
    height: 600px;  
    margin-top: 50px;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color:#f5f8fa);
}   

.btn {
    background-color: #ff7a59;
    display: flex;
    width: 45%;
    align-items: center;
    align-content: center;
    margin-left: 50px;
    color: #f5f8fa;
}
.btn:hover {
    opacity: 0.75;
    color: #f5f8fa;
}
.pplf {
    text-align: left;
}
.pplf1 {
    text-align: center;
}
.card {
    background-color: #ffffff;
}
.card1 {
    margin-top: 20px;
    background-color: #ffffff;
    text-align: start;
}

.card:hover {
    box-shadow: rgb(234, 204, 246) 0px 0px 11px 0px;
    box-shadow: rgba(51, 71, 91,0.12) 0px 10px 50px -5px;
    border-radius: 4px;
    transform: scale(1.014);
}
.card1:hover {
    box-shadow: rgb(234, 204, 246) 0px 0px 11px 0px;
    box-shadow: rgba(51, 71, 91,0.12) 0px 10px 50px -5px;
    border-radius: 4px;
    transform: scale(1.014);
}
.card-title {
    text-align: center;
}
.card-title1 {
    text-align: left;
}
.card-body {
    text-align: start;
}
.details {
    list-style: none;
    align-items: center;
    align-content: center;
    justify-self: center;
}
.hr-sect {
	display: flex;
	flex-basis: 100%;
	align-items: center;
    color: rgb(0, 0, 0);
    margin: 8px 0px;
    
}
.hr-sect::after {
	content: "";
	flex-grow: 1;
    background: #d1d4d6c0;
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 8px;
}
.hr-sect1 {
    background: #f5f8fa;
}
/* End-Section3-Mors */