/* Thien CSS Start */

.row1 {
  padding: 50px 50px 30px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* background-color: rgb(188, 252, 59); */
}

.col-a {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-left: 150px;
  padding-bottom: 40px;
}

.col-b {
  /* background-color: pink; */
  padding: 20px;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.row2 {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  padding: 0px 80px 40px 80px;
}

.jumbo1 {
  display: flex;
  justify-content: space-around;
  align-items: left;
  flex-direction: column;
  /* background-color: yellow; */
  padding-left: 130px;
  background-color: white;
}

.col-c {
  background-color: white;
}

.col-d {
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: space-around;
}

.women {
  height: 500px;
  padding-left: 60px;
  padding-bottom: 30px;
}

.imgLogo {
  display: flex;
  height: 80%;
  width: 100%;
}

.btn1 {
  background-color: #ff7a59;
  width: 200px;
  height: 80px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.display1 {
  display: flex;
}

.jumbo2 {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
}

.container1 {
  /* background-color: red; */
  height: 25vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px;
}

.display2 {
  color: white;
  font-weight: bold;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 30px;
  padding-top: 100px;
  padding: 10px;
}

.display3 {
  color: white;
  font-weight: lighter;
  justify-content: center;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 16px;
  padding-bottom: 60px;
}

.container2 {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.col-f {
  /* background-color: purple; */
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-g {
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-h {
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-i {
  border-bottom: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-j {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-k {
  border-left: 1px solid white;
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-l {
  border-right: 1px solid white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-m {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: space-around;
  padding-top: 20px;
}

.col-md-3 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.textbox {
  color: white;
}
.textbox1 {
  font-weight: bold;
}

.imgBrand {
  padding-bottom: 10px;
}

/* Thien CSS End */
